.scrollable{
    height: 100vh;
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    width: var(--pico-scrollbar-width);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}